body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
#root {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}
.list-group {
  width: 600px;
}
.list-group-item {
  display: flex;
  align-items: center;
}

.list-group-item img {
  width: 100px;
  border-radius: 50%;
}
.list-group-item h3,
.list-group-item img,
.list-group-item button {
  margin: 0 10px 0 10px;
}
.list-group-item button {
  margin-left: auto;
}
